<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
        <typeAlias type="com.goldrush.dto.MemberDTO" alias="MemberDTO"/>
		<typeAlias type="com.goldrush.dto.AccountDTO" alias="AccountDTO"/>
		<typeAlias type="com.goldrush.dto.ItemDTO" alias="ItemDTO"/>
		<typeAlias type="com.goldrush.dto.OfferDTO" alias="OfferDTO"/>
		<typeAlias type="com.goldrush.dto.InventoryDTO" alias="InventoryDTO"/>
		<typeAlias type="com.goldrush.dto.OfferDTO" alias="OfferDTO"/>
		<typeAlias type="com.goldrush.dto.TradeDTO" alias="TradeDTO"/>
		<typeAlias type="com.goldrush.dto.OffersListDTO" alias="OffersListDTO"/>
    </typeAliases>
</configuration>