body {
  font-family: "Nanum Gothic", sans-serif;
  padding: 5vh 0px;
}
.navbar {
  background-color: #000;
}
.navbar-brand {
  padding: 0px;
}
.logo {
  height: 50px;
  font-size: 23px;
  margin: 15px;
  color: rgb(240, 204, 0);
  font-family: "Snell Roundhand";
  font-weight: 700;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.merchandise_list {
  width: 100vw;
  height: 90vh;
  padding-top: 6vh;
  background-color: #d3b8993d;
}

.menu {
  background-color: #fff;
  border: 1px solid #808080;
  border-right: none;
  height: 80vh;
  display: flex;
  padding: 30px;
  font-size: 20px;
}

.list {
  list-style: none;
  padding-left: 0px;
}

.list > li {
  padding: 0px;
  margin-bottom: 10px;
}

.item_list {
  background-color: #fff;
  padding: 0px 0px;
  height: 80vh;
  color: #000;
  border: 1px solid #808080;
}
.item_ul {
  padding-left: 0px;
  list-style: none;
  margin-bottom: 0px;
}
.item_ul li {
  border-bottom: 1px solid #808080;
  padding: 0px 15px;
}
.item_ul li:last-child {
  border-bottom: none;
}
.item_small {
  margin: 0px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image_box {
  width: 7vh;
  height: auto;
  padding: 0px;
}
.image_box img {
  width: 100%;
  height: 100%;
}
.item_small p {
  margin-bottom: 0px;
}
.item_detail {
  height: 80vh;
  padding: 0px;
  border: 1px solid #808080;
  border-left: none;
  background-color: #fff;
}
.contract {
  background-color: #fff;
  height: 10vh;
  width: 100%;
  margin-left: 0.5px;
  border-bottom: 1px solid #808080;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contract .btn {
  height: fit-content;
  width: fit-content;
  background-color: #79955f;
  color: #fff;
}
.contract .btn:hover,
.contract .btn:focus {
  color: #fff;
}
.item_detail .item_image {
  height: 30%;
  border-bottom: 1px solid #808080;
  text-align: center;
  background-color: #fff;
}
.item_image img {
  height: 100%;
}
.item_container {
  background-color: #fff;
  color: #000;
  width: 100%;
  height: auto;
  padding: 30px;

  border-top: none;
}

.item_info {
  margin: 0px;
  margin-bottom: 10px;
  font-size: 20px;
  border: 1px #808080 solid;
}

.chart {
  margin: 0px;
}
.footer_content {
  background-color: #000;
  color: #fff;
  height: 5vh;
  font-size: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
}
a {
  color: #000;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #79955f;
}
.selected {
  color: #79955f;
}
/*---------------μ μ € μΈν¬ style--------------*/
.follow_menu {
  height: 80vh;
  background-color: #fff;
  border: 1px solid #808080;
  display: flex;
  flex-direction: column;
}

.change_id_pwd .btn {
  margin-left: 0px;
}
.btn {
  background-color: #79955f;
  color: #fff;
  margin-left: 20px;
}
.btn:hover,
.btn:focus {
  color: #fff;
}
.account_info {
  margin-bottom: 5%;
}
.portfolio {
  margin-bottom: 5%;
}
.check_log {
  margin-bottom: 5%;
}
.trade_log {
  margin-bottom: 5%;
}
.change_id_pwd {
  margin-bottom: 5%;
}
/*-------QNA style--------*/

/* ------ Contact ------ */
.question {
  height: 80vh;
  background-color: #fff;
  border: 1px solid #808080;
  display: flex;
  flex-direction: column;
}
.mail-form {
  display: flex;
}
